torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
transformers>=4.35.0
peft>=0.6.0
datasets>=2.14.0
accelerate>=0.24.0
numpy>=1.24.0
scipy>=1.10.0
sentence-transformers>=2.2.0
tensorboard>=2.20.0
bitsandbytes>=0.40.0
vllm==0.11.2
unsloth
xformers==0.0.33.post1
fire==-0.7.1
matplotlib
deepspeed==0.18.7
POT
vec2text
language-tool-python
spacy==3.8.14